header {
  display: inline-flex;
  width: 100%;
  font-family: veranda;
  font-size: 14px;
  font-weight: bold;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid black;
}

#my {
  color: aquamarine;
}

#top {
  display: flex;
  border: thin solid black;
  width: 100%;
}

a {
  color: black;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.container {
  display: flex;
  flex-direction: row;
  border: thin solid black;
}

.column {
  display: inline-flex;
  flex-wrap: wrap;
  border: thin solid black;
}

section, h1 {
  border: thin solid black;
}

.column.large {
  display: inline-flex;
  width: 630px
}

.column.medium {
  display: flex;
  width: 300px
}

.column.small {
  display: flex;
  width: 240px
}

div {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

h1 {
  color: black;
  font-family: Georgia;
  font-size: 30px
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#mother {
  background-image: url("resources/images/Main_Story.png");
  width: 630px;
  font-size: 40px;
}

#earth {
  background-image: url("resources/images/Fall_Season.png");
  width: 630px;
}

#cats {
  background-image: url("resources/images/cat_ceo.png");
  width: 300px;
}

#research {
  background-image: url("resources/images/Hipster_Cameraman.png");
  width: 630px;
}
